<div class="d-flex flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Blockchain Poll</h5>
      <a class="btn btn-primary" href="#">Create Poll</a>
</div>
<section class="jumpotron bg-light text-center">
  <h1>Polls Rethinked</h1>
  <p class="lead text-muted ">
    Powered By Blockchain
  </p>
</section>
<app-poll-create ></app-poll-create>
<div class="d-flex">
  <div class="container poll-list">
    List
  </div>
  <div class="container poll-detail">
    Detail
  </div>
</div>

